body {
    background-color: rgba(139, 0, 0, 0.842);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(41, 7, 7, 0.904);
    text-align: center;
    
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(46, 20, 20);
}

input {
    font-family: sans-serif;
    background-color: darkgray;
    border: 1px solid black;
}

div {
    color: rgb(46, 20, 20);
    font-family: monospace;
    font-weight: bold;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin:0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}